table(width=max_w align="center" class="mobile-table" bgcolor="#ffffff")&attributes(tableAtt)
  +vSpacer(16)
  tr
    td(align="center" valign="top" bgcolor="#ffffff")
      img(src=img_path+"ampersand-icon.png" width="34")
  +vSpacer(16)
  tr
    td(align="center" valign="top" bgcolor="#ffffff")
      img(src=img_path+"hero.png" width="474" class="fluidImage")
  +vSpacer(40)
