table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr
    td(align="center" bgcolor=wild_sand)
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(width="64" class="content-spacing") &nbsp;
          td
            table(width="100%")&attributes(tableAtt)
              +vSpacer(33)
              tr
                td(class="p-s dove_gray f_normal" align="left").
                  #[strong References:] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut ex dictum, rutrum tortor ac, efficitur odio. Morbi rutrum enim ut justo consectetur, non convallis sapien convallis. Cras finibus eget tellus vel volutpat. Morbi fermentum nec neque at accumsan. Ut tristique turpis quis lacus dapibus, ut posuere justo congue. Donec eget ipsum elementum, varius nulla a, lobortis massa. Nunc vel quam in quam mattis posuere in at tellus. Nam porttitor at metus et eleifend. Etiam egestas nisi vitae dolor rhoncus imperdiet. Maecenas suscipit, nulla et congue placerat, lacus nibh facilisis magna, a bibendum felis ligula viverra metus. Nullam eu ligula tortor. Proin vulputate tincidunt commodo.
              +vSpacer(54)
          td(width="64" class="content-spacing") &nbsp;
