table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr
    td(align="center" bgcolor=snuff)
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(width="64" class="content-spacing") &nbsp;
          td
            table(width="100%")&attributes(tableAtt)
              +vSpacer(48)
              tr
                td(class="p-m livid_brown f_bold" align="center").
                  lorem ipsum dolor sit amet enim ad minim veniam, quis nostrud exercitation
              +vSpacer(40)
              tr
                td(class="p-regular livid_brown" align="center").
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
              +vSpacer(40)
              tr
                td(align="center" valign="top")
                  img(src=img_path+"image-placeholder.png" width="472" class="fluidImage")
              +vSpacer(40)
              tr
                td(class="p-s livid_brown" align="center").
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              +vSpacer(40)
              tr
                td(align="center" valign="top")
                  img(src=img_path+"btn_cta2.png" width="164" class="")
              +vSpacer(54)
          td(width="64" class="content-spacing") &nbsp;
