table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr
    td(align="center" bgcolor=tawny_Port)
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(width="64" class="content-spacing") &nbsp;
          td
            table(width="100%")&attributes(tableAtt)
              +vSpacer(48)
              tr
                td(class="p-xl white georgia f_normal" align="left").
                  insomnia is a real concern for many adults within the US
              +vSpacer(25)
              tr
                td(class="p-regular white" align="left").
                  Insomnia impacts many people, regardless of gender or race.#[sup(class="osup") #[span(style="letter-spacing:-1px") 1],2] Millions of people are affected by insomnia across the country: young and old, with or without treatment, and with or without comorbidities.#[sup(class="osup") #[span(style="letter-spacing:-1px") 1],3-5] Insomnia has a dual impact on both night &amp; day.
              +vSpacer(40)
              tr
                td(align="center" valign="top")
                  a(href="https://www.seizethenightanddayhcp.com/dual-impact-of-insomnia" target="_blank")
                    img(src=img_path+"btn_cta.png" width="222")
              +vSpacer(54)
          td(width="64" class="content-spacing") &nbsp;
