table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr
    td(align="center" bgcolor=wild_sand)
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(width="64" class="content-spacing") &nbsp;
          td
            table(width="100%")&attributes(tableAtt)
              +vSpacer(33)
              tr
                td(class="p-s dove_gray f_normal" align="left").
                  #[strong References: 1.] Ford ES, Cunningham TJ, Giles WH, et al. Trends in insomnia and excessive daytime sleepiness among US adults from 2002 to 2012. #[i Sleep Med]. 2015;16(3):372-378. #[strong 2.] 2010 Sleep in America Poll. Sleep and ethnicity. Washington, DC: National Sleep Foundation; 2015. sleepfoundation.org. Accessed on October 22, 2021. #[strong 3.] Ellis JG, Perlis ML, Neale LF, et al. The natural history of insomnia: focus on prevalence and incidence of acute insomnia. #[i J Psychiatr Res]. 2012;46(10):1278-1285. #[strong 4.]&nbsp;Pillai V, Roth T, Roehrs T, Moss K, Peterson EL, Drake CL. Effectiveness of benzodiazepine receptor agonists in the treatment of insomnia: an examination of response and remission rates. #[i Sleep]. 2017;40(2):zsw044. #[strong 5.] #[i Diagnostic and Statistical Manual of Mental Disorders]. 5th ed. American Psychiatric Association; 2013.
              +vSpacer(54)
          td(width="64" class="content-spacing") &nbsp;
