table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr
    td(align="center" bgcolor=eggplant)
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(width="64" class="content-spacing") &nbsp;
          td
            table(width="100%")&attributes(tableAtt)
              +vSpacer(48)
              tr
                td(class="p-xl white georgia" align="left").
                  see what’s new from Seize the Night &amp; Day
              +vSpacer(25)
              tr
                td(class="p-regular white" align="left").
                  Make sure to visit our website at Seize the Night &amp; Day to see our new updates and new content posted. On Seize the Night &amp; Day, you will find new information and resources related to insomnia treatment, and the therapeutic landscape.
              +vSpacer(40)
              tr
                td(align="center" valign="top")
                  a(href="https://www.seizethenightanddayhcp.com/s/" target="_blank")
                    img(src=img_path+"btn_cta.png" width="195")
              +vSpacer(54)
          td(width="64" class="content-spacing") &nbsp;
