table(width=max_w align="center" class="mobile-table" bgcolor="#ffffff")&attributes(tableAtt)
  +vSpacer(16)
  tr
    td(align="center" valign="top" bgcolor="#ffffff")
      a(href="https://www.seizethenightanddayhcp.com/s/" target="_blank")
        img(src=img_path+"standar-logo.png" width="91.5")
  +vSpacer(16)
  tr
    td(align="center" valign="top" bgcolor="#ffffff")
      a(href="https://www.seizethenightanddayhcp.com" target="_blank")
        img(src=img_path+"hero.png" width="100%" class="fluidImage" alt="Seize the Nigth & Day HCP website")
  +vSpacer(40)
