$light_white:#eeeeee;
$white: #ffffff;
$persian_rose: #FF1595;
$mine_shaft: #333333;
$eggplant: #60384E;
$apricot_peach: #F9BBBB;
$snuff: #E1DAF0;
$livid_brown: #4C2239;
$wild_sand: #F6F6F6;
$dove_gray: #666666;
