table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr
    td(align="center" bgcolor=tawny_Port)
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(width="64" class="content-spacing") &nbsp;
          td
            table(width="100%")&attributes(tableAtt)
              +vSpacer(48)
              tr
                td(class="p-xl white georgia f_normal" align="left").
                  patients struggle with both the night &amp; day impact of insomnia#[sup(class="osup") 1]
              +vSpacer(35)
              tr
                td(class="p-regular white" align="left").
                  Insomnia causes both nighttime and daytime impairments. Problems with sleep onset, sleep maintenance, and early morning awakenings can cause difficulties throughout a patient’s night. During the day, patients may struggle with feelings of fatigue, low energy, and an interference with their ability to function.#[sup(class="osup") 2]
              +vSpacer(40)
              tr
                td(align="center" valign="top")
                  a(href="https://www.seizethenightanddayhcp.com/s/" target="_blank")
                    img(src=img_path+"btn_cta.png" width="194")
              +vSpacer(54)
          td(width="64" class="content-spacing") &nbsp;
