table(width=max_w align="center" class="mobile-table" bgcolor=wild_sand)&attributes(tableAtt)
  tr
    td
      table(width="100%")&attributes(tableAtt)
        tr
          td(width="16" class="content-spacing") &nbsp;
          td
            table(width="100%")&attributes(tableAtt)
              +vSpacer(20)
              tr
                td(class="p-s mine_shaft f_bold" align="left").
                  Subject lines and preheaders
              +vSpacer(20)
              tr
                td(class="p-s mine_shaft" align="left").
                  SL [XX]: #[span(class="persian_rose") See why insomnia impacts are felt both night &amp; day]#[br]
                  SL [XX]: #[span(class="persian_rose") Insomnia impacts patients during both night &amp; day]#[br]
                  SL [XX]: #[span(class="persian_rose") Get to know more about the dual impact of insomnia]#[br]
                  SL [XX]: #[span(class="persian_rose") Learn why the impact of insomnia is significant]#[br]
                  SL [XX]: #[span(class="persian_rose") Sorry I missed you! Here’s some interesting information]
              +vSpacer(20)
              tr
                td(class="p-s mine_shaft" align="left").
                  PH [YY]: #[span(class="persian_rose") Patients are impacted by symptoms both night &amp; day]
              +vSpacer(40)
          td(width="16" class="content-spacing") &nbsp;
