table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr
    td(align="center" bgcolor=wild_sand)
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(width="64" class="content-spacing") &nbsp;
          td
            table(width="100%")&attributes(tableAtt)
              +vSpacer(33)
              tr
                td(class="p-s dove_gray f_normal" align="left").
                  #[strong References: 1.]  #[i Diagnostic and Statistical Manual of Mental Disorders]. 5th ed. American Psychiatric Association; 2013. #[strong 2.] Ji X, Bastien CH, Ellis JG, Hale L, Grandner MA. Disassembling insomnia symptoms and their associations with depressive symptoms in a community sample: the differential role of sleep symptoms, daytime symptoms, and perception symptoms of insomnia. #[i Sleep Health]. 2019;5(4):376-381.
              +vSpacer(54)
          td(width="64" class="content-spacing") &nbsp;
