table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr
    td(align="center" bgcolor="#ffffff")
      a(href="https://www.seizethenightanddayhcp.com" target="_blank")
        img(src=img_path+"hero.jpg" width="600" class="fluidImage" alt="image of sleep mask" style="display:block;")
  tr
    td(align="center" bgcolor=eggplant)
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(width="64" class="content-spacing") &nbsp;
          td
            table(width="100%")&attributes(tableAtt)
              +vSpacer(48)
              tr
                td(class="p-xl white georgia" align="left").
                  for many patients receiving treatment for insomnia, their symptoms still persist
              +vSpacer(25)
              tr
                td(class="p-regular white" align="left").
                  Even while treated with some of the most commonly prescribed sleep medications, patients may still experience both the night & day impact of insomnia. Many patients report tiredness, daytime sleepiness, somnolence, dizziness, and disorientation.
              +vSpacer(40)
              tr
                td(align="center" valign="top")
                  a(href="https://www.seizethenightanddayhcp.com" target="_blank")
                    img(src=img_path+"btn_cta.png" width="195")
              +vSpacer(54)
          td(width="64" class="content-spacing") &nbsp;
