table(width=max_w align="center" class="mobile-table" bgcolor=wild_sand)&attributes(tableAtt)
  tr
    td
      table(width="100%")&attributes(tableAtt)
        tr
          td(width="16" class="content-spacing") &nbsp;
          td
            table(width="100%")&attributes(tableAtt)
              tr
                td(class="p-s mine_shaft f_bold" align="left").
                  Subject lines and preheaders
              +vSpacer(20)
              tr
                td(class="p-s mine_shaft" align="left").
                  SL [XX]: #[span(class="persian_rose") Subject line lorem ipsum dolor sit amet enim ad minim]
              +vSpacer(20)
              tr
                td(class="p-s mine_shaft" align="left").
                  PH [YY]: #[span(class="persian_rose") Preheader lorem ipsum dolor sit amet enim ad minim]
              +vSpacer(40)
          td(width="16" class="content-spacing") &nbsp;
