table(width=max_w align="center" class="mobile-table" bgcolor="#ffffff")&attributes(tableAtt)
  tr
    td
      table(width="100%")&attributes(tableAtt)
        tr
          td(width="64" class="content-spacing") &nbsp;
          td
            table(width="100%")&attributes(tableAtt)
              +vSpacer(40)
              tr
                td(class="p-regular persian_rose" align="left").
                  [Sign off language]
              +vSpacer(20)
              tr
                td(class="p-regular persian_rose" align="left").
                  {{customText[Sincerely, | Best regards, |Thank You,]}}
              +vSpacer(80)
          td(width="64" class="content-spacing") &nbsp;
